<div fxLayout="column" class="h100">
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()"><i class="material-icons">menu</i></button>
        <a style="height: 36px;;" routerLink="/"><img class="h100" src="https://static.wixstatic.com/media/f02fdb_512c66d8d9374ad8bf5644413d67d456~mv2_d_11000_3500_s_4_2.png/v1/fill/w_176,h_56,al_c,usm_0.66_1.00_0.01/f02fdb_512c66d8d9374ad8bf5644413d67d456~mv2_d_11000_3500_s_4_2.png"/></a>
    </mat-toolbar>
    <mat-sidenav-container fxLayout="row" fxFlex>
        <mat-sidenav #sidenav mode="{{mode}}" opened="{{opened}}" style="min-width: 250px;">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Exercise
                    </mat-expansion-panel-header>
                    <mat-nav-list role="list">
                        <mat-list-item role="listitem" routerLink="/exercise/wheeloflife" >Wheel Of Life</mat-list-item>
                        <mat-list-item role="listitem" routerLink="/exercise/journaling">journaling</mat-list-item>
                    </mat-nav-list>
                </mat-expansion-panel>
                <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            Resources
                        </mat-expansion-panel-header>
                        <mat-nav-list role="list">
                            <mat-list-item role="listitem" routerLink="/resource/podcast" >Podcast</mat-list-item>
                        </mat-nav-list>
                    </mat-expansion-panel>
            </mat-accordion>
        </mat-sidenav>
        <mat-sidenav-content style="height: inherit;width: inherit;" fxFlex>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>