<div class="w100 h100" fxLayout="row" fxLayoutAlign="center center">
    <div class="h100" style="text-align: center">
        <img src="https://static.wixstatic.com/media/f02fdb_28b8775ba3e44f7295ee81dd8c63db51~mv2.png" style="height: 200px;">
        <p>
            <span class="color_12">The BEST&nbsp;global content and resources curated for YOU.</span>
            <span class="color_12">For your SELF-ACTUALIZATION adventures</span>  
        </p>
        <div style="padding: 16px;">
            <mat-card class="example-card" style="max-width: 25%;"> 
                <img mat-card-image src="https://static.wixstatic.com/media/f02fdb_168f32b4de854e2d99184fdd77cb3901~mv2.png" >
                <mat-card-content>
                    <p>
                    In our adaptation of this Tony Robbins exercise, we give you the power to define your life's building blocks. Develop a short term action plan to be more intentional about aligning your life with what really matters to you. One of the simplest yet most powerful self-awareness exercises you can undertake!
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>
                    Estimated Time: 30 minutes
                    </p>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>