<div fxLayout="column" class="h100">
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()"><i class="material-icons">menu</i></button>
        <span>My Application</span>
    </mat-toolbar>
    <mat-sidenav-container fxLayout="row" fxFlex>
        <mat-sidenav #sidenav mode="{{mode}}" opened="{{opened}}" style="min-width: 250px;">
            <mat-nav-list role="list">
                <mat-list-item role="listitem" routerLink="/wheeloflife" >Wheel Of Life</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content fxFlex>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>